<!--
    Author: Oleksandr Levinskyi;
    Date: 04/10/2020;

    Image source: https://images.app.goo.gl/qNc7sV3JBEdYpsVr8;
-->

<section id="section1">
    <img src="images/logo.gif" alt="Plant_Shop">
    <h1 id="title">Plant Shop</h1>
    <%- include('nav'); -%>
</section>